

/* COMMON COMPONENT STYLES */
html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-bar {
  text-align: center;
}

.button-bar > button {
  margin-right: 5px;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

.game-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 330px 230px;
  justify-content: center;
}

.sprite-x-state {
	background: url('images/ttt-icons.png') no-repeat -7px -6px;
	width: 86px;
	height: 85px;
}

.sprite-o-state {
	background: url('images/ttt-icons.png') no-repeat -110px -108px;
	width: 89px;
	height: 89px;
}